* {
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	font-family: '微软雅黑';
}
body {
	background:url(../imgs/body_bg.png);
	background-size: auto;
}
ul {
	list-style: none;
}

a {
	color:#000;
	text-decoration: none; 
	outline: none;
}
section {
	width: 100%;
}

/*预加载动画*/
#preloader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background:#eee;
}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	background: #00FFCC;
	-webkit-animation:loading 1.2s infinite;
	-moz-animation:loading 1.2s infinite;
	-ms-animation:loading 1.2s infinite;
	-o-animation:loading 1.2s infinite;
	animation:loading 1.2s infinite;
}
@-webkit-keyframes loading{
	0%{-webkit-transform:perspective(200px)}
	50%{-webkit-transform:perspective(200px) rotateY(180deg)}
	100%{-webkit-transform:perspective(200px) rotate(180deg)}
}
@-moz-keyframes loading{
	0%{-moz-transform:perspective(200px)}
	50%{-moz-transform:perspective(200px) rotateY(180deg)}
	100%{-moz-transform:perspective(200px) rotate(180deg)}
}
@-ms-keyframes loading{
	0%{-ms-transform:perspective(200px)}
	50%{-ms-transform:perspective(200px) rotateY(180deg)}
	100%{-ms-transform:perspective(200px) rotate(180deg)}
}
@-o-keyframes loading{
	0%{-o-transform:perspective(200px)}
	50%{-o-transform:perspective(200px) rotateY(180deg)}
	100%{-o-transform:perspective(200px) rotate(180deg)}
}
@keyframes loading{
	0%{transform:perspective(200px)}
	50%{transform:perspective(200px) rotateY(180deg)}
	100%{transform:perspective(200px) rotate(180deg)}
}
section.index {
	background:url(../imgs/index_bg.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}

section.index .scroll-down {
	position: absolute;
	display: inline-block;
	bottom: 3%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-sizing: border-box;
}

section.index .iconfont{
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -10px;
	font-size: 20px;
	color: #fff;
	-webkit-animation: drop 1.5s infinite;
	-moz-animation: drop 1.5s infinite;
	-ms-animation: drop 1.5s infinite;
	-o-animation: drop 1.5s infinite;
	animation: drop 1.5s infinite;
}
@-webkit-keyframes drop{
	0%{top:0;opacity:0}
	40%{top:20%;opacity:1}
	100%{top:70%;opacity:0}
}
@-moz-keyframes drop{
	0%{top:0;opacity:0}
	40%{top:20%;opacity:1}
	100%{top:70%;opacity:0}
}
@-ms-keyframes drop{
	0%{top:0;opacity:0}
	40%{top:20%;opacity:1}
	100%{top:70%;opacity:0}
}
@-o-keyframes drop{
	0%{top:0;opacity:0}
	40%{top:20%;opacity:1}
	100%{top:70%;opacity:0}
}
@keyframes drop{
	0%{top:0;opacity:0}
	40%{top:20%;opacity:1}
	100%{top:70%;opacity:0}
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 800px;
	height: 60px;
	background: rgba(255,255,255,.2);
	box-sizing: border-box;
	z-index: 1;
}

header .avatarbox {
	display: inline-block;
	width: auto;
	height: auto;
	margin-left: 10%;
	cursor: pointer;
}

header .avatar {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border:3px solid #fff;
	background: url(../imgs/avatar.jpg) no-repeat center center;
	background-size: cover;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	overflow: hidden;
}
header .avatar:before,
header .avatar:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.1);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
header .avatarbox:hover .avatar:before {
	top: 100%;
}
header .avatarbox:hover .avatar:after {
	top: -100%;
}
header .avatarbox:hover .avatar{
	border:3px solid #00CCFF;
	box-shadow: 0 0 10px #00CCFF;
}

header span.intension {
	display: inline-block;
	height: 100%;
	margin-left: 10px;
	vertical-align: top;
	padding-top: 10.5px;
}
header span.intension p {
	text-align: center;
	color: #555;
}

header span.intension p:last-child {
	border-top: 1px solid #555;
	font-size: 12px;
}

header nav {
	width: auto;
	height: 100%;
	margin-right: 10%;
	float: right;
}
header nav  a {
	position: relative;
	display: inline-block;
	height: 100%;
	line-height: 60px;
	padding: 0 10px;
	color: #555;
	font-size: 14px;
}

header nav  a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #00CCFF;
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	-ms-transition: width .3s;
	-o-transition: width .3s;
	transition: width .3s;
}

header nav  a:hover,
header nav  a.act {
	color: #000;
}

header nav  a:hover:after,
header nav  a.act:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	height: 2px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #00CCFF;
}

.container {
	width: 100%;
	height: auto;
}
.container section {
	position: relative;
}
.container section .topic {
	display: block;
	padding: 0px 10%;
	text-align: center;
}

.container section .topic h1{
	font-size: 24px;
	font-weight: normal;
	height: 50px;
	border-bottom: 2px solid #6699FF;
}






/*基本信息start*/
#basic_info {
	width: 100%;
	overflow: hidden;
}
#basic_info .wrap {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	margin-top: -239px;
	margin-left: -475px;
	/*-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)*/;
	padding: 50px;
	overflow: hidden;
}

#basic_info .basic-left,
#basic_info .basic-right {
	height: auto;
	text-align: center;
	float: left;
}
#basic_info .basic-left {
	width: 400px;
}
#basic_info .photo {
	display: inline-block;
	width: 200px;
	height: 200px;
	border: 5px solid #00FFFF;
	box-shadow: 0 0 20px #00FFFF;
	border-radius: 50%;
	overflow: hidden;
	background: url(../imgs/qrcode.jpg) no-repeat center center;
	background-size: cover;
}
.animated .photo {
	-webkit-animation: downin 2s ease-out forwards;
	-moz-animation: downin 2s ease-out forwards;
	-ms-animation: downin 2s ease-out forwards;
	-o-animation: downin 2s ease-out forwards;
	animation: downin 2s ease-out forwards;
}
@-webkit-keyframes downin{
	0%{-webkit-transform:translateY(-50px);opacity:0;}
	100%{-webkit-transform:translateY(0);opacity:1;}
}
@-moz-keyframes downin{
	0%{-moz-transform:translateY(-50px);opacity:0;}
	100%{-moz-transform:translateY(0);opacity:1;}
}
@-ms-keyframes downin{
	0%{-ms-transform:translateY(-50px);opacity:0;}
	100%{-ms-transform:translateY(0);opacity:1;}
}
@-o-keyframes downin{
	0%{-o-transform:translateY(-50px);opacity:0;}
	100%{-o-transform:translateY(0);opacity:1;}
}
@keyframes downin{
	0%{transform:translateY(-50px);opacity:0;}
	100%{transform:translateY(0);opacity:1;}
}

#basic_info .basic-left p {
	margin-top: 20px;
}
#basic_info.animated .basic-left p.p1 {
	-webkit-animation: upin 1s ease-out backwards;
	-moz-animation: upin 1s ease-out backwards;
	-ms-animation: upin 1s ease-out backwards;
	-o-animation: upin 1s ease-out backwards;
	animation: upin 1s ease-out backwards;
}
#basic_info.animated .basic-left p.p2 {
	-webkit-animation: upin 1s ease-out .5s backwards;
	-moz-animation: upin 1s ease-out .5s backwards;
	-ms-animation: upin 1s ease-out .5s backwards;
	-o-animation: upin 1s ease-out .5s backwards;
	animation: upin 1s ease-out .5s backwards;
}
#basic_info.animated .basic-left p.p3 {
	-webkit-animation: upin 1s ease-out 1s backwards;
	-moz-animation: upin 1s ease-out 1s backwards;
	-ms-animation: upin 1s ease-out 1s backwards;
	-o-animation: upin 1s ease-out 1s backwards;
	animation: upin 1s ease-out 1s backwards;
}
#basic_info.animated .basic-left p.p4 {
	-webkit-animation: upin 1s ease-out 1.5s backwards;
	-moz-animation: upin 1s ease-out 1.5s backwards;
	-ms-animation: upin 1s ease-out 1.5s backwards;
	-o-animation: upin 1s ease-out 1.5s backwards;
	animation: upin 1s ease-out 1.5s backwards;
}
@-webkit-keyframes upin{
	0%{-webkit-transform:translateY(50px);opacity:0;}
	100%{-webkit-transform:translateY(0);opacity:1;}
}
@-moz-keyframes upin{
	0%{-moz-transform:translateY(50px);opacity:0;}
	100%{-moz-transform:translateY(0);opacity:1;}
}
@-ms-keyframes upin{
	0%{-ms-transform:translateY(50px);opacity:0;}
	100%{-ms-transform:translateY(0);opacity:1;}
}
@-o-keyframes upin{
	0%{-o-transform:translateY(50px);opacity:0;}
	100%{-o-transform:translateY(0);opacity:1;}
}
@keyframes upin{
	0%{transform:translateY(50px);opacity:0;}
	100%{transform:translateY(0);opacity:1;}
}
#basic_info .basic-right {
	width: 400px;
	margin-left: 50px;
}
#basic_info .basic-right ul {
	
}

#basic_info .basic-right ul li{
	position: relative;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	margin-top: 15px;
	border:1px solid #ddd;
	overflow: hidden;
	background: #fff;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
#basic_info .basic-right ul li:first-child {
	margin-top: 0;
}
#basic_info .basic-right ul li:hover {
	box-shadow: 2px 2px 10px #aaa;
}
#basic_info li div {
	position: absolute;
	top: 0;
	height: 100%;
}
#basic_info li div.left {
	left: 0;
	width: 20%;
	text-align: center;
	line-height: 48px;
	background: #33FFCC;
	overflow: hidden;
}
#basic_info li div.left .iconfont,
#basic_info li div.left span {
	position: absolute;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
#basic_info li div.left .iconfont {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color:#6699FF ;
	font-size: 26px;
}
#basic_info li div.left span {
	display: block;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 48px;
}
#basic_info li:hover div.left .iconfont {
	left: -100%;

}
#basic_info li:hover div.left span {
	left: 0;
}




#basic_info li div.right {
	right: 0;
	width: 80%;
	padding-left: 20px;
	text-align: left;
	line-height: 48px;
	box-sizing: border-box;
}
#basic_info.animated li.birthday {
	-webkit-animation: rightin .8s ease-out backwards;
	-moz-animation: rightin .8s ease-out backwards;
	-ms-animation: rightin .8s ease-out backwards;
	-o-animation: rightin .8s ease-out backwards;
	animation: rightin .8s ease-out backwards;
}
#basic_info.animated li.qualification {
	-webkit-animation: rightin .8s ease-out .5s backwards;
	-moz-animation: rightin .8s ease-out .5s backwards;
	-ms-animation: rightin .8s ease-out .5s backwards;
	-o-animation: rightin .8s ease-out .5s backwards;
	animation: rightin .8s ease-out .5s backwards;
}
#basic_info.animated li.englishlevel {
	-webkit-animation: rightin .8s ease-out 1s backwards;
	-moz-animation: rightin .8s ease-out 1s backwards;
	-ms-animation: rightin .8s ease-out 1s backwards;
	-o-animation: rightin .8s ease-out 1s backwards;
	animation: rightin .8s ease-out 1s backwards;
}
#basic_info.animated li.native {
	-webkit-animation: rightin .8s ease-out 1.5s backwards;
	-moz-animation: rightin .8s ease-out 1.5s backwards;
	-ms-animation: rightin .8s ease-out 1.5s backwards;
	-o-animation: rightin .8s ease-out 1.5s backwards;
	animation: rightin .8s ease-out 1.5s backwards;
}
#basic_info.animated li.political {
	-webkit-animation: rightin .8s ease-out 2s backwards;
	-moz-animation: rightin .8s ease-out 2s backwards;
	-ms-animation: rightin .8s ease-out 2s backwards;
	-o-animation: rightin .8s ease-out 2s backwards;
	animation: rightin .8s ease-out 2s backwards;
}
#basic_info.animated li.hobby {
	-webkit-animation: rightin .8s ease-out 2.5s backwards;
	-moz-animation: rightin .8s ease-out 2.5s backwards;
	-ms-animation: rightin .8s ease-out 2.5s backwards;
	-o-animation: rightin .8s ease-out 2.5s backwards;
	animation: rightin .8s ease-out 2.5s backwards;
}
@-webkit-keyframes rightin{
	0%{-webkit-transform:translateX(50px);opacity:0;}
	100%{-webkit-transform:translateX(0);opacity:1;}
}
@-moz-keyframes rightin{
	0%{-moz-transform:translateX(50px);opacity:0;}
	100%{-moz-transform:translateX(0);opacity:1;}
}
@-ms-keyframes rightin{
	0%{-ms-transform:translateX(50px);opacity:0;}
	100%{-ms-transform:translateX(0);opacity:1;}
}
@-o-keyframes rightin{
	0%{-o-transform:translateX(50px);opacity:0;}
	100%{-o-transform:translateX(0);opacity:1;}
}
@keyframes rightin{
	0%{transform:translateX(50px);opacity:0;}
	100%{transform:translateX(0);opacity:1;}
}



/*基本信息end*/



#edu_experience {
	width: 100%;

}
#skill {
	width: 100%;

}
#work_experience {
	width: 100%;

}
#others {
	width: 100%;

}




























































aside {
	position: fixed;
	top: 0;
	/*right: -40px;*/
	right: 0;
	width: 55px;
	height: 100%;
	min-height: 600px;
	background: #333;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	z-index: 2;
}
/*aside:hover {
	right: 0;
}*/

aside ul {
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	height: auto;
	/*transform: translateY(-50%);*/
}

aside ul li {
	position: relative;
	width: 55px;
	height: auto;
	padding: 5px 0;
	margin-bottom: 50%;
	font-size: 12px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	background: #333;
}
aside ul li:last-child {
	margin-bottom: 0;
}
aside ul li:hover {
	box-shadow: 0 0 30px #000 inset;
	background: #333;
}

aside ul li .iconfont {
	display: inline-block;
	font-size: 28px;
}
aside ul li:hover .iconfont {
	color: #66FFFF;
	-webkit-animation: l_to_r .5s ease-out forwards;
	-moz-animation: l_to_r .5s ease-out forwards;
	-ms-animation: l_to_r .5s ease-out forwards;
	-o-animation: l_to_r .5s ease-out forwards;
	animation: l_to_r .5s ease-out forwards;
}
aside ul li.back2top:hover .iconfont {
	-webkit-animation: b_to_t .5s ease-out forwards;
	-moz-animation: b_to_t .5s ease-out forwards;
	-ms-animation: b_to_t .5s ease-out forwards;
	-o-animation: b_to_t .5s ease-out forwards;
	animation: b_to_t .5s ease-out forwards;
}
aside ul li .slide {
	position: absolute;
	top: 0;
	left:55px;
	background: #fff;
	border-radius: 5px 0 0 5px;
	color: #3399FF;
	text-align: center;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	z-index: -1;
}

aside ul li.phoneNum .slide {
	width: 200px;
	height: 100%;
	line-height: 61px;
}
aside ul li.phoneNum:hover .slide{
	left:-200px;
}
aside ul li.email .slide {
	width: 240px;
	height: 100%;
	line-height: 61px;
}
aside ul li.email:hover .slide{
	left:-240px;
}
aside ul li.weixin .slide {
	left:-200px;
	top: -69.5px;
	width: 200px;
	height: 200px;
	padding-top: 15px;
	display: none;
}
aside ul li.weixin:hover .slide{
	display: block;
}
@-webkit-keyframes l_to_r{
	49%{margin-left:100%;}
	50%{margin-left:-100%;opacity:0;}
}
@-moz-keyframes l_to_r{
	49%{margin-left:100%;}
	50%{margin-left:-100%;opacity:0;}
}
@k-ms-eyframes l_to_r{49%{margin-left:100%;}
	50%{margin-left:-100%;opacity:0;}
}
@-o-keyframes l_to_r{
	49%{margin-left:100%;}
	50%{margin-left:-100%;opacity:0;}
}
@keyframes l_to_r{
	49%{margin-left:100%;}
	50%{margin-left:-100%;opacity:0;}
}
@-webkit-keyframes b_to_t{
	49%{transform:translateY(-100%);}
	50%{transform:translateY(100%);opacity:0;}
}
@-moz-keyframes b_to_t{
	49%{transform:translateY(-100%);}
	50%{transform:translateY(100%);opacity:0;}
}
@-ms-keyframes b_to_t{
	49%{transform:translateY(-100%);}
	50%{transform:translateY(100%);opacity:0;}
}
@-o-keyframes b_to_t{
	49%{transform:translateY(-100%);}
	50%{transform:translateY(100%);opacity:0;}
}
@keyframes b_to_t{
	49%{transform:translateY(-100%);}
	50%{transform:translateY(100%);opacity:0;}
}

